python-dotenv
tiktoken
flask
isodate
ollama
openai
pyperclip
youtube-transcript-api                                                              
google-api-python-client
gunicorn
langchain
langchain-community
