[Unit]
Description=zFabric server using venv in Gunicorn

[Service]
ExecStartPre=/bin/bash -c 'source /opt/fabric/venv/zfabric/bin/activate'
ExecStart=/opt/fabric/venv/zfabric/bin/gunicorn -w1 -b 10.19.30.170:13337 "api_server:start()"
WorkingDirectory=/opt/fabric/zfabric/server
Environment="PATH=/opt/fabric/venv/zfabric/bin"
Environment="CONFIG_PATH=/opt/fabric/zfabric/server/config.json"
User=fabric
Group=fabric
Restart=always
RestartSec=5
#StandardOutput=append:/var/log/gunicorn.log
#StandardError=append:/var/log/gunicorn_error.log

[Install]
WantedBy=multi-user.target
